.projects_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: left;
}

.projects_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
  min-width: 420px;
}

.head_title_projects {
  padding: 1em;
  margin: 0px;
  font-size: 2.5em;
  color: rgb(89, 38, 152);
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 3;
  text-align: center;
  left: 0;
  letter-spacing: 10px;
  line-height: .7;
}

.card_container {
  display: block;
  justify-self: center;
}

.card {
  position: relative;
  margin: 0.5em;
  width: 300px;
  height: 200px;
  background-size: cover;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgb(89, 38, 152);
  border-radius: 5px;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
}

.card:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.overlay p {
  margin: 10px;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
}

.card_1 {
  background-image: url(../../assets/images/indicaria.png);
}

.card_2 {
  background-image: url(../../assets/images/crypto_wallet.png);
}

.card_3 {
  background-image: url(../../assets/images/markdown_previewer.png);
}

.card_4 {
  background-image: url(../../assets/images/money_app.png);
}

.card_5 {
  background-image: url(../../assets/images/react_giphy.png);
}

.card_6 {
  background-image: url(../../assets/images/toDo_app.png);
}

.modal_projects {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  max-width: 540px;
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  z-index: 5;
  font-family: 'Roboto', sans-serif;
}

.modal_external {
  background-color: rgba(6, 6, 6, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.close_icon {
  height: 30px;
  align-self: center;
  color: #592698;
  cursor: pointer;
}

.close_button {
  z-index: 105;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 5px;
  right: 5px;
  border: solid 5px #592698;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.3s;
  cursor: pointer;
}

.close_button:hover .close_icon {
  color: #59269864;
}

.close_button:hover {
  border: solid 5px #59269864;
}

.icon {
  height: 15px;
  padding: 0 10px;
  align-self: center;
  color: #592698;
  fill: #592698;
}

.modal_title {
  padding: 0.2em;
  margin: 0px;
  font-size: 2.5em;
  color: #592698;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 12;
  text-align: center;
  left: 0;
}

.text {
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.text a {
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
}

.link{
  font-size: 1em;
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.link:hover, .link:visited{
  font-family: 'Roboto', sans-serif;
  color: #50514F;
  text-decoration: none;
  font-size: 1em;
}

.proj_img {
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
  width: 500px;
  height: 300px;
}

@media (min-width: 100px) and (max-width: 575px) {
.projects_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
}

.projects_cards {
    grid-template-columns: 1fr;
  }

  .modal_content {
    max-width: 75%;
    left: 47%;
  }

  .proj_img {
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
    width: 320px;
    height: 200px;
  }
}


@media (min-width: 576px) {
.projects_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
}

.projects_cards {
    grid-template-columns: 1fr;
  }

  .modal_content {
    max-width: 540px;
  }

  .proj_img {
    border-radius: 10px;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 5px;
    width: 320px;
    height: 200px;
  }
}


@media (min-width: 768px) {
.projects_cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
.projects_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
.projects_cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
