.about_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 60px;
  min-width: 420px;
}

.head_title {
  padding: 1em;
  margin: 0px;
  font-size: 2.5em;
  color: #592698;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 12;
  text-align: center;
  left: 0;
  letter-spacing: 10px;
  line-height: .7;
}

.sub_title {
  width: 80vw;
  padding: 1em;
  margin: 0px;
  font-size: 1.5em;
  color: #F56476;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 12;
  text-align: left;
  letter-spacing: 10px;
}

.bg_img_profile {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/images/julia_small.png);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
}

.about_section {
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

.section_column_about {
  flex-direction: column;
  padding: 10px;
  width: 450px;
}

.section_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill_column {
  width: calc(50% - 10px);
  margin-bottom: 20px;
}

.section_profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile_column {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  min-width: 345px;
}

.profile_column ul {
  list-style: none;
  padding: 0;
}

.section_column_about ul {
  list-style: none;
  padding: 0;
}

.icon {
  height: 15px;
  padding: 0 10px;
  align-self: center;
  color: #592698;
}

.img_icon {
  height: 48px;
  width: 48px;
  align-self: center;
  position: absolute;
  top:-2px;
  right: -2px;
}

.img_linkedin {
  height: 45px;
  width: 45px;
  padding: 1px;
  align-self: center;
  position: absolute;
  top:-1px;
  right: -1px;
  background-color: #592698;
  border-radius: 50px;
}

.text {
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.text a {
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: none;
}

.text a:hover {
  color: #50514F;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: underline;
}

.buttons_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  width: 80vw;
}

.button_profile {
  background-color: #fff;
  border: solid 1px #592698;
  width: 180px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  border-radius: 40px;
  font-size: 1em;
  height: 47px;
  position: relative;
  padding-right: 25px;
  color: #592698;
  transition: ease-out 0.2s;
  margin: 5px;
  text-decoration: none;

}

.button_profile:hover {
  color: #fff;
  background-color: #592698;
  cursor: pointer;
  text-decoration: none;
}

.download_icon {
  height: 30px;
  width: 30px;
  padding: 8px;
  align-self: center;
  color: #fff;
  background-color:#592698;
  border-radius: 37px;
  position: absolute;
  top: -1px;
  right: -1px;
}

.line {
  border-top: 1px solid #50514f4a;
  margin: 70px auto 55px;
  width: 40%;
}

.skill_text {
  display: block;
  margin-bottom: 18px;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #50514F;
}

.chart_bar {
  display: block;
  height: 7px;
  position: relative;
  width: 100%;
  background: #e9ecef;
  margin-bottom: 45px;
  border-radius: 10px;
}

.item_progress {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1%;
  background-color: #592698;
  border-radius: 10px;
}

.percent {
  height: 32px;
  margin-top: -48px;
  position: absolute;
  right: calc(100% - 40px);
  width: 46px;
  color: #fff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 33px;
  top: 50%;
  text-align: center;
  margin-right: -24px;
  background-color: #592698;
}

.arrow {
  display: inline-block;
  padding: 4px;
  transform: translateY(33.5px) rotate(45deg) skew(3deg, 3deg) translateX(-27px);
  bottom: 10px;
  position: absolute;
  background-color: #592698;
}

.timeline_icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -50px;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #592698;
}

.timeline_li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.timeline_li:after {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    bottom: 0;
    border-left: 1px solid #333;
}

@media (max-width: 600px) {
  .about_container {
    margin: auto;
    align-items: center;
    overflow-x: hidden;
    justify-content: center;
  }

  .about_section {
    margin: 0;
    align-items: center;
  }

  .section_column_about {
    margin: 0;
    max-width: 360px;
  }

  .profile_column {
    width: 90%;
  }

  .skill_column {
    width: 90%;
  }
}
