.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  overflow: hidden;
}

.home_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.text_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
  margin: 0px 40px 0px 20px;
}

.h1_color {
  padding-left: 1em;
  margin: 0px;
  font-size: 2.5em;
  color: #592698;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  z-index: 12;
}

.h1_sub_color {
  padding-left: 1em;
  margin: 0px;
  font-size: 2.5em;
  color: #F56476;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  z-index: 13;
}


.highlight {
  font-family: 'Roboto', sans-serif;
  color: #F56476;
  font-size: 1em;
  font-weight: bolder;
}

.home_text {
  padding: 0.1em;
  color: #50514F;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-size: 1.5em;
  margin-left: 1.5em;
  z-index: 14;
}

.bg_img {
  background-image: url(../../assets/images/julia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: calc(100vh - 80px);
  z-index: 11;
  border-radius: 30px;
  left: 40px;
  top: 40px;
  box-shadow: 0 0 7px rgba(0,0,0,.9);
  width: 440px;
}

.left-dotted-shape {
  position: fixed;
  left: -190px;
  top: -175px;
  height: 840px;
  width: 385px;
  transform: rotate(35deg);
  z-index: 1;
  background: radial-gradient(circle at center, #592698 10%, transparent 20%), transparent;
  background-size: 19px 18px;
  background-attachment: fixed;
}

.right-dotted-shape {
  position: fixed;
  right: -91px;
  bottom: -113px;
  height: 185px;
  width: 260px;
  transform: rotate(315deg);
  z-index: 1;
  background: radial-gradient(circle at center, #592698 10%, transparent 20%), transparent;
  background-size: 19px 18px;
  background-attachment: fixed;
}

@media (max-width: 600px) {

}

@media (max-width: 600px) {
  .main {
    padding: 0;
    overflow-x: hidden;
  }

  .home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
  }

  .home_text {
    padding: 0.1em;
    color: #50514F;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    position: relative;
    font-size: 1.1em;
    margin: 1.5em;
    z-index: 14;
  }

  .bg_img {
    background-image: url(../../assets/images/julia_small.png);
    background-size: contain;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 7px rgba(0, 0, 0, .9);
  }

  .left-dotted-shape {
    position: absolute;
    left: -130px;
    top: -10px;
    height: 262px;
    width: 166px;
    transform: rotate(15deg);
    z-index: 1;
    background: radial-gradient(circle at center, #592698 10%, transparent 20%), transparent;
    background-size: 19px 18px;
    background-attachment: fixed;
  }

  .right-dotted-shape {
    display: none;
  }

  .h1_color {
    padding: 0;
    text-align: center;
    font-size: 1.5em;
  }

  .h1_sub_color {
    padding: 0;
    font-size: 2em;
    text-align: center;
    font-size: 1.5em;
  }

  .text_container {
    text-align: center;
    margin: 0.5em auto;
    padding-bottom: 25px;
  }
}
